sys
twint
io
pandas
redirect_stdout
re
string
numpy
nltk
pickle
sklearn
streamlit
nltk.corpus.stopwords
nltk.tokenize.word_tokenize
sklearn.model_selection.train_test_split
sklearn.feature_extraction.text.TfidfVectorizer
nltk.tokenize.RegexpTokenizer
sklearn.linear_model.LogisticRegression
sklearn.metrics.accuracy_score
sklearn.metrics.f1_score
sklearn.metrics.precision_score
sklearn.metrics.recall_score
sklearn.metrics.classification_report
sklearn.metrics.confusion_matrix
matplotlib.pyplot
matplotlib.dates